* {
  padding: 0;
  margin: 0;
}
h1 {
  font-family: AU Passata, bold;
  font-size: 28px;
}
h2 {
  font-family: AU Passata, bold;
  font-size: 25px;
}
p {
  font-family: Georgia;
  font-size: 18px;
}

/* -------- NAV -------- */
.bannerNav {
  top: 0;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  z-index: 10;
}
#navLogo {
  position: relative;
  left: 10%;
}
#navText {
  font-size: 40px;
  text-decoration: none;
  position: absolute;
  right: 10%;
  font-family: AU Passata, bold;
  color: #003d73;
}
/* -------- MAINCONTENT -------- */
main {
  margin-top: 111px;
  width: 100%;
  height: auto;
}
/* -------- FIRST SECTION (ARTICLE AND FAQ) -------- */
.firstSection {
  width: 80%;
  margin: 0 auto;
  height: 450px;
  background-color: #002546;
  background-image: url("../Billeder/billedesectionv4.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  opacity: 1;
}
.firstSection h1,
h2,
p {
  color: white;
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
}
.firstContent {
  width: 50%;
  padding-right: 40px;
}
.secondContent {
  width: 50%;
  padding: 5px 5px;
}
.secondContent button {
  width: 100%;
  margin: 10px 0;
  font-size: 20px;
  background-color: #8bad3f;
  color: white;
  border: 0;
  text-align: left;
  padding: 10px 10px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.secondContent button i {
  position: absolute;
  right: 11%;
  font-size: 25px;
}
.secondContent button:hover {
  background-color: #485e19;
}
/* -------- SECOND SECTION (MORE INFORMATION AND GOOGLE MAPS) -------- */
.secondSection {
  width: 80%;
  margin: 0 auto;
  background-color: #003d73;
  height: 600px;
  display: flex;
  flex-direction: row;
}
.secondSection article {
  background-image: url("../Billeder/lecturev2.png");
  background-size: cover;
  background-position: center;
}
.secondSection h1,
h2,
p {
  color: white;
  padding: 5px 5px 5px 5px;
  margin: 5px 5px;
}
/* -------- SCALING -------- */
@media screen and (max-width: 1400px) {
  .firstSection {
    flex-direction: column;
    height: auto;
  }
  .firstSection .firstContent {
    width: 100%;
    padding: 0;
    height: auto;
  }
  .firstSection .secondContent {
    width: 100%;
    padding: 0;
    height: auto;
  }
  .secondSection {
    flex-direction: column;
    height: auto;
  }
  .secondSection .firstContent {
    width: 100%;
    padding: 0;
    height: auto;
  }
  .secondSection .secondContent {
    width: 100%;
    padding: 0;
    height: 600px;
  }
}
